.submit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  background: linear-gradient(
      135deg,
      rgba(0, 50, 38, 0.91),
      rgba(13, 43, 39, 0.58)
  );
  backdrop-filter: blur(40px);
  filter: blur(0);
  padding: 20px;

  i {
    font-size: 80px;
    color: #09aa95;
    margin-bottom: 20px;
  }

  h2 {
    color: #023e2e;
    margin-bottom: 20px;
  }

  button {
    background-color: #031714;
    color: #d7ddd4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: #131c0a;
    }
  }
}
