.footer {
  background-color: rgba(2, 27, 20, 0.56);
  color: white;
  padding: 5px 10px; /* Smaller padding */
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%; /* Full width */
  font-size: 12px; /* Smaller text */
}

.footer-container {
  max-width: 1000px;
  margin: auto;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.footer li {
  margin: 2px 0;
}
