.footer {
  background-color: #021b14;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  margin: 5px 0;
}
